a {
  text-decoration: none;
  color: #999999;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar.mat-primary {
  background-color: #222222;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
