<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">The Party</a>
  </div>
  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="end">
    <ul class="navigation-items" fxLayout fxLayoutGap="15px">
      <li>
        <a (click)="onNewGameCenterClick()">
          <mat-icon class="icon">bookmark</mat-icon>
          <span class="label">New Game</span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon class="icon">send</mat-icon>
          <span class="label">Move / New Day</span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon class="icon">input</mat-icon>
          <span class="label">Pawn Shop</span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon class="icon">bookmark</mat-icon>
          <span class="label">About</span>
        </a>
      </li>
      <li>
        <mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon>unfold_more</mat-icon>
          <a matline>Management</a>
        </mat-list-item>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/mgt/city">Cities</button>
          <button mat-menu-item routerLink="/mgt/item">Items</button>
          <button mat-menu-item routerLink="/mgt/end-game-message">End of Game Messages</button>
          <button mat-menu-item routerLink="/mgt/env">Environment Settings</button>
          <button mat-menu-item routerLink="/player">My Account</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
