<h1>End of Game Messages</h1>

<div class="container">
  <div fxLayout="column"
       fxLayout.lt-sm="column"
       fxLayoutAlign="flex-start"
       fxLayoutGap="32px">
    <mat-card *ngFor="let endOfGameMessage of endGameMessages$ | async"
              class="card"
              fxFlex="0 1 calc(33.3% - 32px)"
              fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">Up to {{endOfGameMessage.maximumDollarAmount | currency}}</span>
      </mat-card-title>
      <mat-card-content>
        {{endOfGameMessage.name}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
