<mat-nav-list>
  <a (click)="newGameCenter()" mat-list-item routerLink="/new">
    <mat-icon class="icon">bookmark</mat-icon>
    <span class="label">New Game</span>
  </a>
  <a (click)="onSidenavClose()" mat-list-item routerLink="/move">
    <mat-icon class="icon">send</mat-icon>
    <span class="label">Move / New Day</span>
  </a>
  <a (click)="onSidenavClose()" mat-list-item routerLink="/shop">
    <mat-icon class="icon">input</mat-icon>
    <span class="label">Pawn Shop</span>
  </a>
  <a (click)="onSidenavClose()" mat-list-item routerLink="/about">
    <mat-icon class="icon">bookmark</mat-icon>
    <span class="label">About</span>
  </a>

  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Management</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button (click)="onSidenavClose()" mat-menu-item routerLink="/mgt/city">Cities</button>
    <button (click)="onSidenavClose()" mat-menu-item routerLink="/mgt/item">Items</button>
    <button (click)="onSidenavClose()" mat-menu-item routerLink="/mgt/eog">End of Game Messages</button>
    <button (click)="onSidenavClose()" mat-menu-item routerLink="/player">My Account</button>
  </mat-menu>
</mat-nav-list>
