<div class="container">
  <div fxLayout="column"
       fxLayout.lt-sm="column"
       fxLayoutAlign="flex-start"
       fxLayoutGap="32px">
    <mat-card class="card"
              fxFlex="0 1 calc(33.3% - 32px)"
              fxFlex.lt-md="0 1 calc(50% - 32px)"
              fxFlex.lt-sm="100%">
      <mat-card-content>
        <h2>Previous Scores:</h2>
        <ul *ngIf="player && player.previousScores">
          <li *ngIf="!player.previousScores || player.previousScores.length < 1">
            No previous games.
          </li>
          <li *ngFor="let score of player.previousScores">
            {{score}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

</div>
