<div class="container">
  <form [formGroup]="playerForm">
    <div fxLayout="column"
         fxLayout.lt-sm="column"
         fxLayoutAlign="flex-start"
         fxLayoutGap="32px">
      <mat-card class="card"
                fxFlex="0 1 calc(33.3% - 32px)"
                fxFlex.lt-md="0 1 calc(50% - 32px)"
                fxFlex.lt-sm="100%">
        <mat-card-content fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="40%">
          <mat-form-field>
            <mat-label>Player Name</mat-label>
            <input
              class="form-control"
              formControlName="name"
              matInput
              placeholder="Player's Name"
              required
              type="text"
            />
          </mat-form-field>
        </span>
          <span fxFlex="40%">
            <button (click)="updatePlayer()" class="mat-button-gold" mat-raised-button>Save</button>
        </span>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
