<div class="container">
  <button
    (click)="decrease()"
    aria-label="Decrease Amount"
    disabled="{{counterRangeMin >= counterValue}}"
    mat-raised-button>
    <i class="material-icons">
      arrow_left
    </i>
  </button>
  <input class="amount" placeholder="Amount" value="{{counterValue}}">

  <button
    (click)="increase()"
    aria-label="Increase Amount"
    disabled="{{counterRangeMax <= counterValue}}"
    mat-raised-button>
    <i class="material-icons">
      arrow_right
    </i>
  </button>
</div>
