<h1>Game Dashboard</h1>

<div class="container">
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutAlign="flex-start"
       fxLayoutGap="32px">
    <div fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <h2>Buy</h2>
      <app-buy-list [gameCenter]="gameCenter$ | async"></app-buy-list>
    </div>
    <div fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <h2>Sale</h2>
      <app-sale-list [gameCenter]="gameCenter$ | async"></app-sale-list>

    </div>
  </div>
</div>
