<div *ngIf="priceRange" class="priceRange">
  <span class="priceRangeTitle">{{title}}:</span>
  {{priceRange.minimumPrice | currency}} to {{priceRange.maximumPrice | currency}}
  <div *ngIf="priceRange.messageCode" class="priceRangeMessage">
    <span class="priceRangeMessageTitle">Message:</span> {{priceRange.messageCode}}
  </div>
</div>
