<h1>Items</h1>

<div class="container">
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutAlign="flex-start"
       fxLayoutGap="32px">
    <mat-card *ngFor="let item of items$ | async"
              class="card"
              fxFlex="0 1 calc(33.3% - 32px)"
              fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">{{item.name | titlecase }}</span>
      </mat-card-title>
      <mat-card-content>
        <app-mgt-price-range [priceRange]="item.standardPrice" title="Standard"></app-mgt-price-range>
        <app-mgt-price-range [priceRange]="item.cheapPrice" title="Cheap"></app-mgt-price-range>
        <app-mgt-price-range [priceRange]="item.expensivePrice" title="Expensive"></app-mgt-price-range>
      </mat-card-content>
    </mat-card>
  </div>
</div>

