<div
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="5px"
  fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex>
    {{item.name | titlecase}}
  </div>
  <div class="item item-2" fxFlex="20%">
    {{(currentItemAvailable ? (currentItemAvailable.price | currency) : ' - ') }}
    <p *ngIf="!form.valid">Invalid!</p>
  </div>
  <div [formGroup]="form" class="item item-3" fxFlex="40%">
    <app-purchase-counter
      [counterRangeMax]="maxValue"
      [counterRangeMin]="minValue"
      [counterValue]="counterValue"
      formControlName="counter">
    </app-purchase-counter>
  </div>
</div>
