<div class="container">
  <div *ngFor="let item of gameCenter.availableItems">
    <app-manage-item
      [currentItems]="gameCenter.currentItems"
      [isBuyingItem]="true"
      [item]="item">
    </app-manage-item>
  </div>
</div>
