<mat-card color="secondary">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="10px">
    <div>
      <div>
        <mat-icon class="icon">navigation</mat-icon>
        <span class="label">Town: {{gameCenter?.currentCity?.displayName}}</span>
      </div>
      <div>
        <mat-icon class="icon">calendar_today</mat-icon>
        <span class="label">Day: {{gameCenter?.dayCounter}} / {{gameCenter?.dayEndSetting}}</span>
      </div>

    </div>

    <div>
      <div>
        <mat-icon class="icon">attach_money</mat-icon>
        <span class="label">Cash: {{gameCenter?.toolbox?.amountOfCashEquity | currency}}</span>
      </div>
      <div>
        <mat-icon class="icon">fullscreen_exit</mat-icon>
        <span class="label">Tools: {{gameCenter?.toolbox?.numberOfTools}}</span>
      </div>
    </div>
    <div>
      <div>
        <mat-icon class="icon">link</mat-icon>
        <span class="label">Debt: {{gameCenter?.lender?.debt | currency}}</span>
      </div>
      <div>
        <mat-icon class="icon">favorite</mat-icon>
        <span class="label">Health: {{gameCenter?.toolbox?.riskTolerance}}</span>
      </div>
    </div>
    <div>
      <div>
        <mat-icon class="icon">business_center</mat-icon>
        <span class="label">Inventory: {{gameCenter?.toolbox?.inventoryOnHand?.length}}
          / {{gameCenter?.toolbox?.toolboxSize}}</span>
      </div>
      <div>
        <mat-icon class="icon">account_balance</mat-icon>
        <span class="label">Bank Account: {{gameCenter?.lender?.deposit | currency}}</span>
      </div>
    </div>

  </div>
</mat-card>
