.mat-toolbar.mat-secondary, .secondary {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #333333;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
