/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  background-color: black;
  color: #ce8c39;
  margin: 0;
}
.card {
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
  margin: 1%;
}
.mat-card {
  background-color: #333333;
  color:#ce8c39;
}
.mat-button-gold {
  background-color: #ce8c39;
  color:#333333;
}

.mat-form-field, .mat-form-field-wrapper, .mat-form-field-flex, .mat-form-field-label-wrapper, .mat-form-field-label,
.mat-form-field-appearance-legacy .mat-form-field-label{
  color: #ce8c39;
}
