<h1>Cities</h1>

<div class="container">
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutAlign="flex-start"
       fxLayoutGap="32px">
    <mat-card *ngFor="let city of cities$ | async"
              class="card"
              fxFlex="0 1 calc(33.3% - 32px)"
              fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">{{city.displayName}}</span>
      </mat-card-title>
      <mat-card-content>
        # of cops {{city.numberOfCops}}
        - # of items {{city.minimumNumberofItems}}
        and {{(city.maximumNumberofItems ? city.maximumNumberofItems : 'All')}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
